



@media screen and (min-width: 850px){
    .main_body{
        height: 90vh;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    p {
        width: 400px;
    }
#about_id {
    height: 90vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#second_about_parra {
    order: 2;
}
}