@media screen and (min-width: 850px){
    .blog_photo1 {
        background-image: none;
    }
    .blog_photo2 {
        background-image: none;
    }
    .blog_photo3 {
        background-image: none;
    }
    .blog_photo4 {
        background-image: none;
    }
    .blog_photo5 {
        background-image: none;
    }
    .blog_photo6 {
        background-image: none;
    }
    .blog_box {
        display: inline-block;
        margin: 0;
        min-width: 0;
        border: none;
    }
    .blog_container {
        display: inline;
        background-color: rgb(77, 75, 75);
        margin-left: 70px;
        text-align: center;
        margin-right: 0;
        padding-right: 0%;
        padding-top: 0;
    }
    #blog_div {
        display: inline-block;
    }
}
@media screen and (max-width: 850px){
    .social_bar {
        width: 1px;
    }
    .social_a {
        box-shadow: none;
    }

}