*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    background-color: rgb(77, 75, 75);
  }
  body{
    font-family: 'Source Code Pro', monospace;

  }
  nav{
    background:rgb(77, 75, 75);
    height: 50px;
    width: 100%;
    margin-bottom: 50px;
  }

  nav ul{
    /* float: right; */

  }
  nav ul li{
    margin: 0 7px;
    display: inline-block;
    line-height: 75px;
    
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 8px 15px;
    border-radius: 3px;
  }
  /* a.active,a:hover{
    background:rgb(241, 209, 24);
    transition: .5s; 
  } */
  .checkbtn{
    font-size: 40px;
    color: white;
    float: right;
    line-height: 75px;
    margin-right: 35px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: rgb(77, 75, 75);
      top: 75px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: rgb(241, 209, 24);
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  section{
        height: 100px;
        display: block;
        justify-content: center;
        align-items: center;
         
  }

  section > * {
    display: flex;
    justify-content: center;
    color: rgb(229, 226, 226);
    padding: 30px 0;
  }
 
   .main_img {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    border-radius: 10%;
    margin-bottom: 80px;
    margin-top: 45px;  
  }
  hr {
    opacity: 0%;
  }
  h1 {
    color: rgb(241, 209, 24);
    text-decoration: underline;
  }

  p {
    margin: 0 30px;
  }

  #bigger_photos {
    width: 70%;
    height: 500px;
  }
.titles {
  color: rgb(241, 209, 24) ;
}
#coding_photos {
  width: 70%;
  height: 300px;
}
.blog_container {
width: 80%;
height: 70vh;
display: flex;
margin: auto;
display: flex;
align-items:flex-start;
flex-wrap: wrap;
justify-content:space-evenly ;
border-radius: 20px;
background-color: rgb(218, 217, 214);

}
.blog_box {
  border: 3px solid black;
  height: 30%;
  display: flex;
  justify-content:space-evenly ;
  min-width: 40%;
  margin:auto;

}
#blog_div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  
}
.blog_photo1 {
  background-image: url("photos/palm_cove.jpg") ;
  background-size: 100% 100%;
  background-position: center;
}

.blog_photo2 {
  background-image: url("photos/cooktown.jpg") ;
  background-size: 100% 100%;
  background-position: center;
}

.blog_photo3 {
  background-image: url("photos/double_island.jpg") ;
  background-size: 100% 100%;
  background-position: center;
}

.blog_photo4 {
  background-image: url("photos/farm.jpg") ;
  background-size: 100% 100%;
  background-position: center;
}
.blog_photo5 {
  background-image: url("photos/bowen.jpg") ;
  background-size: 100% 100%;
  background-position: center;
}
.blog_photo6 {
  background-image: url("photos/tarzali.jpg") ;
  background-size: 100% 100%;
  background-position: center;
}
#div_parra {
  padding: 6px;
  border-radius: 5px;

}
.item_box {
  border: 3px solid black;
  background-color:rgb(58, 51, 51) ;
  height: 75px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;

 

}
.item_div_container {
 border-radius: 15px;
  width: 90%;
  height: 15vh;
  display: flex;
  margin: auto;
  justify-content:space-evenly;
  align-items: center;
  background-color: rgb(218, 217, 214);
  
}
#link_div {
  background-color: rgb(58, 51, 51);
  margin: 0;
}
a {
  color: white;
}
a:hover {
  color:rgb(241, 209, 24) ;
}
.photo_div1 {
  width: 300px;
  height: 300px;
  background: url("photos/coding_photo.png") no-repeat center;
  background-size: auto 100%;
  display: flex;
}
.photo_div2 {
  width: 300px;
  height: 300px;
  background: url("photos/website_screenshot.png") no-repeat center;
  background-size: auto 100%;
  display: flex;
}
.photo_div3 {
  width: 300px;
  height: 300px;
  background: url("photos/facebook.png") no-repeat center;
  background-size: auto 100%;
  display: flex;
}
.end_page {
  padding-bottom: 80px;
}
.contact_photo1 {
  width: 100px;
  height: 100px;
  background: url("photos/LinkedIn.png") no-repeat center;
  background-size: auto 100%;
  display: flex;
  border-radius: 10px;
}
.contact_photo2 {
  width: 100px;
  height: 100px;
  background: url("photos/Phone.png") no-repeat center;
  background-size: auto 100%;
  display: flex;
  border-radius: 10px;
}
.contact_photo3 {
  width: 100px;
  height: 100px;
  background: url("photos/email.png") no-repeat center;
  background-size: auto 100%;
  display: flex;
  border-radius: 10px;
}
.contact_photo4 {
  width: 100px;
  height: 100px;
  background: url("photos/GitHub.png") no-repeat center;
  background-size: auto 100%;
  display: flex;
  border-radius: 10px;
}